body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #2c3e50;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

#suggestions {
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
}

#suggestions div {
    padding: 5px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}

ul {
    list-style-type: none;
    padding: 0;
}

#flashcard-image {
    width: 300px; /* Set the width as desired */
    height: auto; /* Maintain the aspect ratio */
    margin: 10px; /* Add some margin around the image */
    display: block; /* Ensures the image is displayed as a block element */
}

#flashcards-container {
    text-align: center; /* Center align the contents */
    padding: 20px; /* Add some padding around the container */
}
